[Unit]
Description=Flask web application
After=syslog.target

[Service]
User=ubuntu
ExecStart=/usr/bin/bash -c '/usr/bin/python3  /home/ubuntu/main.py'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target